
   #header{
  display: flex;
   
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 4px;
  
}
.card img{
   height: 400px;
   width: auto;
}
#header a{
   text-decoration: none;
   color: white;
}
.top a,img{
  float: right;
}

.button{
    float: right;
 }.button2{
    float: left;
    text-decoration: none;
 }
 .button2 a{
   
    text-decoration: none;
    color: white;
 }
 .dropdown-item{
    color: aqua;
    background-color: black;
 }
